<%- include("./partials/header") %>
<form id="login">
  <input id="username" type="text" placeholder="Enter your username..." />
  <input id="password" type="password" placeholder="Enter your password..." />
  <input type="submit" value="LOGIN" />
</form>
<%- include("./partials/footer") %>
