<%- include("./partials/header") %>
<form id="register">
  <input id="name" type="text" placeholder="Enter your name..." />
  <input id="lastname" type="text" placeholder="Enter your lastname..." />
  <input id="email" type="text" placeholder="Enter your email..." />
  <input id="username" type="text" placeholder="Enter your username..." />
  <input id="password" type="password" placeholder="Enter your password..." />
  <input type="submit" value="REGISTER" />
</form>
<%- include("./partials/footer") %>
